<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Forget password?</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  
  <ion-item>
  <ion-label color="black">Email</ion-label>
  <ion-input color="black" placeholder="Adresse email" type="email"></ion-input>
  </ion-item>

  <ion-button (click)="show()"fill="outline"shape="round"expand="block">Valider</ion-button> 

  </ion-content>
  
    