<ion-header>
  <ion-toolbar color=success>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title>Formulaire de gestion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col >
       <p class="bien"> Bienvenue </p>

        <!-- <p>User email : <strong>{{ userDetail }}</strong></p> -->
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
<ion-menu contentId="main-content" side="start">
  <ion-header >
    <ion-toolbar translucent>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
   </ion-header>
   <ion-content>
     <ion-list>
       <ion-item [routerLink]="['/home']">
         <ion-icon name="list-outline" slot="start"></ion-icon>
         Liste
       </ion-item>
       <ion-item [routerLink]="['/profil']">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        profil
      </ion-item>
    <ion-item [routerLink]="['/reinitialise']">
     <ion-icon name="person-outline" slot="start"></ion-icon>
     Mot de passe oublié?
   </ion-item>
   <ion-item (click)="signOut()">
    <ion-icon name="person-outline" slot="start"></ion-icon>
    Deconnexion
  </ion-item>
      
     </ion-list>
   </ion-content>

</ion-menu>
<ion-router-outlet id="main-content">
</ion-router-outlet>