<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Utilisateur Enregistré</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form class="form" [formGroup]="userForm" (ngSubmit)="signUp(userForm.value)">
    <ion-item>
      <ion-label position="floating">Nom Complet</ion-label>
      <ion-input type="text" formControlName="FullName"></ion-input><br>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    

    <ion-item>
      <ion-label position="floating" color="primary">Mot de passe</ion-label>
      <ion-input type="password" formControlName="password" class="form-controll" required></ion-input>
    </ion-item>
  

    <ion-button type="submit" expand="block" [disabled]="!userForm.valid">Enregistrer</ion-button>
    
    <label class="ion-text-center" color="danger">{{errorMsg}}</label>
    <label class="ion-text-center" color="success">{{successMsg}}</label>
  </form>
  <p class="ion-text-center">Déja enregistré? <a (click)="goToLogin()">Connexion</a></p>
</ion-content>